<% provide(:title, "Help") %>


<h1>Big helps, thanks and welps</h1>
<p>
Get help whenever you need at:
<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
This is but a mere sample application.
</p>

